<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            // TODO remove this with actual data
            var data = google.visualization.arrayToDataTable([
                ['Users', 'Number of users'],
                ['Active users', {{ activeUsers }}],
        ['Inactive users', {{ inactiveUsers }}]
        ]);

        var chart = new google.visualization.PieChart(document.getElementById('piechart_courses'));

        chart.draw(data);
        }
    </script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Course', 'Users'],
                {% for item in courseUsers %}
        ['{{ item.coursecode }} - {{ item.coursename }}', {{ item.users }}],
            {% endfor %}
            ]);

        var options = {
            chart: {
                subtitle: 'All teachers and students in each course',
            }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material_course'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Assignment', 'Submissions'],
                {% for item in submissions %}
        ['{{ item.assignment }}', {{ item.submissions }}],
            {% endfor %}
            ]);

        var options = {
            chart: {
                subtitle: 'All submissions from all the assignments',
            }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material_assignment'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            // TODO remove this with actual data
            var data = google.visualization.arrayToDataTable([
                ['Logs', 'Frequency of logs'],
                {% for item in logs %}
        ['ActivityID {{ item.activity }}', {{ item.c }}],
            {% endfor %}
        ]);

        var chart = new google.visualization.PieChart(document.getElementById('piechart_logs'));

        chart.draw(data);
        }
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link href="../static/offcanvas.css" rel="stylesheet">

    <style>
        .topmargin {
            margin-top: 65px;
        }
    </style>

</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mr-auto mr-lg-0 " href="/ICPP">CSAMS charts</a>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/ICPP/php/debug.php" class="nav-link">Debug</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container topmargin">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h2>Number of elements</h2>
            <table class="table table-striped table-sm">
                <tr>
                    <td>Number of courses</td>
                    <td>{{ numbCourses}}</td>
                </tr>
                <tr>
                    <td>Number of assignments</td>
                    <td>{{ numbAssignments }}</td>
                </tr>
                <tr>
                    <td>Number of submissions</td>
                    <td>{{ numbSubmissions }}</td>
                </tr>
                <tr>
                    <td>Number of users</td>
                    <td>{{ numbUsers }}</td>
                </tr>
                <tr>
                    <td>Number of teachers</td>
                    <td>{{ numbTeachers }}</td>
                </tr>
                <tr>
                    <td>Number of students</td>
                    <td>{{ numbStudents }}</td>
                </tr>
                <tr>
                    <td>Number of logs</td>
                    <td>{{ numbLogs }}</td>
                </tr>
            </table>
        </div>
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h2>Users with and without courses</h2>
            <p>Go to <a href="/ICPP/php/debug.php" target="_blank">debug</a> to find out which users are inactive</p>
            <div id="piechart_courses" style="width: 900px; height: 500px;"></div>
        </div>
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h2>All courses with users</h2>
            <div id="columnchart_material_course" style="width: 800px; height: 500px;"></div>
        </div>
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h2>All submissions by assignments</h2>
            <div id="columnchart_material_assignment" style="width: 800px; height: 500px;"></div>
        </div>
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h2>Top 5 most frequent logs</h2>
            <p>To see what the activity id's mean, check out <a
                    href="https://github.com/JohanAanesen/CSAMS/blob/master/webservice/model/logs.go"
                    target="_blank">this file</a></p>
            <div id="piechart_logs" style="width: 900px; height: 500px;"></div>
        </div>
    </main>
</body>

</html>