<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link href="../static/offcanvas.css" rel="stylesheet">

    <style>
        .topmargin {
            margin-top: 65px;
        }
    </style>

</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mr-auto mr-lg-0 " href="/ICPP">CSAMS charts</a>
    </nav>

    <main role="main" class="container topmargin">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <a href="/ICPP/php/test.php">Test here</a>
        </div>
    </main>
</body>

</html>